<div class="page-breadcrumb">
            <app-one></app-one>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
             <app-two></app-two>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
            <app-three></app-three>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-6">
                      <app-four></app-four>
                        <!-- Card -->
                       <app-five></app-five>
                        <!-- card -->
                      <app-six></app-six>
                        <!-- card new -->
                     <app-seven></app-seven>
                    </div>
                    <!-- column -->

                    <div class="col-lg-6">
                        <!-- Card -->
                        <app-eight></app-eight>
                        <!-- card -->
                        <app-nine></app-nine>
                        <!-- accoridan part -->
                        <div class="accordion" id="accordionExample">
                     <app-ten></app-ten>
                        </div>
                        <!-- toggle part -->
                        <div id="accordian-4">
                         <app-eleven></app-eleven>
                        </div>
                        <!-- Tabs -->
                      <app-twelve></app-twelve>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->